
VITE_GLOVE_API_URL=http://localhost:8087/glove
VITE_TERMS_URL=https://d1ha9jo6jndprj.cloudfront.net/shared/pdf/T%C3%89RMINOS%20Y%20CONDICIONES%20DE%20USO%20DE%20LA%20PLATAFORMA%20DIGITAL%2010122025.pdf
