
VITE_GLOVE_API_URL=http://localhost:8087/glove
VITE_TERMS_URL=https://d1ha9jo6jndprj.cloudfront.net/shared/pdf/condiciones-uso-plataforma-digital.pdf
VITE_ASSISTANCES_TERMS_URL=https://d1ha9jo6jndprj.cloudfront.net/shared/pdf/Condicionado_Asistencias_Simon_Movilidad.pdf
